## Problem

<% .Problem %>

## Steps to reproduce

<% .Steps %>

## Expected behavior

<% .Expected %>

## Actual behavior

<% .Actual %>

## Screenshots

<!-- If applicable, add screenshots to help explain the problem. -->

## Logs

<!-- If applicable, paste any relevant output from the terminal here. -->

## Environment

| | |
|---|---|
| worky version | <% .Version %> |
| OS | <% .OS %> |
| Arch | <% .Arch %> |
| Go | <% .GoVer %> |
