baseURL    = "/"
title      = "<% .Name %>"
contentDir = "docs"
publishDir = "site"

[module]
  [[module.imports]]
    path = "github.com/davideimola/worky"
  [[module.imports]]
    path = "github.com/geekdocs/geekdoc"
