---
title: "<% .Name %>"
weight: <% .Weight %>
---

## Overview

TODO: describe what participants will do in this chapter.

## Steps

1. Step one
2. Step two
3. Step three

{{< details "Hint" >}}
TODO: add a hint here.
{{< /details >}}

{{< details "Solution" >}}
TODO: add the solution here.
{{< /details >}}
